/* line 3, ../compass/sass/style.scss */
body {
  color: #ff00bb;
}

/* line 8, ../compass/sass/style.scss */
#test-div {
  color: #00ff00;
}

/* line 23, ../compass/sass/style.scss */
.homemade-col-1 {
  width: 100%;
  overflow: hidden;
}

/* line 27, ../compass/sass/style.scss */
.homemade-col-2 {
  width: 50%;
  float: left;
  overflow: hidden;
}

/* line 32, ../compass/sass/style.scss */
.homemade-col-4 {
  width: 25%;
  float: left;
}

/* line 36, ../compass/sass/style.scss */
.random-size {
  font-size: 84px;
}

/* line 39, ../compass/sass/style.scss */
.max-size {
  font-size: 62px;
}

/* line 47, ../compass/sass/style.scss */
.inside-1 {
  background-color: #7dff53;
  width: 100%;
  height: 200px;
  clear: both;
}
/* line 54, ../compass/sass/style.scss */
.inside-1 .inside-2 {
  background-color: #39ec00;
  width: 50%;
  height: 150px;
}
/* line 60, ../compass/sass/style.scss */
.inside-1 .inside-2 .inside-3 {
  background-color: #218600;
  width: 25%;
  height: 100px;
}
/* line 66, ../compass/sass/style.scss */
.inside-1 .inside-2 .inside-3 .inside-4 {
  background-color: #082000;
  width: 12.5%;
  height: 50px;
}
